@import './tailwind.css';
/* @font-face {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      local('Alfa Slab One Regular '),
      local('Alfa Slab One-Regular'),
      url('./files/alfa-slab-one-latin-400.woff2') format('woff2'), 
      url('./files/alfa-slab-one-latin-400.woff') format('woff'); 
  } */